/* App.css */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #333;
  /* Couleur principale */
}

nav {
  background-color: #fff;
  /* Arrière-plan de la barre de navigation */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

nav button {
  background-color: #333;
  /* Couleur des boutons */
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

nav button:hover {
  background-color: #555;
  /* Couleur au survol */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333;
  /* En-tête du tableau */
  color: white;
}

td {
  background-color: #fff;
}

/* Style pour les boutons Modifier */
.modifier-btn {
  background-color: #4CAF50;
  /* Couleur de fond verte */
  color: white;
  /* Texte en blanc */
  padding: 10px 15px;
  /* Padding pour la taille */
  border: none;
  /* Pas de bordure */
  border-radius: 4px;
  /* Coins arrondis */
  cursor: pointer;
  /* Curseur pointeur */
  transition: background-color 0.3s ease;
  /* Transition pour l'effet au survol */
}

.modifier-btn:hover {
  background-color: #45a049;
  /* Couleur plus foncée au survol */
}


@media screen and (max-width: 600px) {

  /* Styles pour les écrans plus petits (responsive) */
  table {
    display: block;
    overflow-x: auto;
  }
}